.detail{
  position: absolute;
  width: 100px;
  background: white;
  opacity: 0.7;
  padding: 10px;
  border: 1px dashed black;
  z-index: 1000;
  height: 40px;
}
.detail-0{
  bottom : 110px;
  left: 40px;
}

/*.detail-8{
  right : 40px;
  bottom: 40px;
}*/

.detail-20{
  bottom: 40px;
  right: 40px;
}
