.filter {
	height: 60px;
	padding: 20px 0 0 20px;
}

.filter span {
	color: #fff;
}

.filter input {
	height: 30px;
	padding: 0 8px 0 8px;
}

#submit {
	background: #294158;
	color: #fff;
	border: 0;
	width: 50px;
	height: 30px;
}
.row {
	line-height: 25px !important;
}

#alarmSearchTable_info {
	color: #FFF;
}
#alarm-search {
	
}
