.alarm-outer {
	margin: 0 auto;
}

.alarmDeal-message {
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: red;
	font-size: 22px;
}

.alarmDeal-pic {
	position: relative;
}

.alarmDeal-buttonGroup {
	height: 100px;
}

button, input {
	height: 32px;
}

.state {
	position: absolute;
	width: 10px;
	height: 10px;
}

.normal {
	background: #0c0;
}

.abnormal {
	background: #ff0;
}

.alerting {
	background: #c00;
}
.alarmDeal {
	background-color: #294158;
	width: 900px;
	height: 750px;
	margin-left: 40px;
	border-radius: 5px;
}
