
.modify {
    background: url('images/modify.png') no-repeat;
    background-position: center;
    position: absolute;
    right: 100px;
    width: 45px;
    height: 40px;
    margin: auto;
    cursor: pointer;
}
.modify:hover {
    background: url('images/modify_hover.png') no-repeat;
    background-position: center;
}
.save {
    background: url('images/save.png') no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 40px;
    right: 20px;
    cursor: pointer;
}
.save:hover {
    background: url('images/save_hover.png') no-repeat;
    background-position: center;
}
.title{
    background: url('images/title.png') no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 150px;
    height: 40px;
    margin: auto;
    cursor: default;
}

.title2{
    background: url('images/baseEquip.png') no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 150px;
    height: 40px;
    margin: auto;
    cursor: default;
}

#publicEquipInfo {
    position: relative;
    width: 99%;
    margin: 5px 5px 10px 5px;
    padding: 5px;
    background-color: #294158;
    height: 320px;
    border-radius: 5px;
}
#baseEquip {
    position: relative;
    width: 99%;
    margin: 5px;
    padding: 5px;
    background-color: #294158;
    height: 270px;
    border-radius: 5px;
}
.inline {
    display: inline-block !important;
    position: relative;
    right:50px;
    float:right;
    vertical-align: middle;
}
.inline2 {
    display: inline-block !important;
    position: relative;
    right:130px;
    float:right;
    vertical-align: middle;
}
.navbar {
    min-height: 40px;
    height: 40px;
}
input {
    background-color: #294158;
    border: 1px solid #fff;
    position: relative;
    left: 50px;
    border-radius: 2px;
    padding-left: 10px;
}
