
/* layout */

html, body {
	position: relative;
    width: 100%;
	font-family: "Microsoft YaHei" ! important;
}

.background-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 110px;
    z-index: 1;
	background-color: #e1e1e1;
}

.background-bottom {
	position: absolute;
	top: 110px;
	left: 0;
	width: 100%;
    height: 990px;
    background: #4d555d;
    z-index: 1;
}

.body {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	z-index: 2;
}


#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 100px;
}

#middle {
	position: absolute;
	top: 100px;
	left: 0;
	width: 1280px;
	height: auto;
	border-radius: 5px;
	background: #294158;

}
#sidebar {
	position: relative;;
	top: 10px;
	left: 10px;
	width: 230px;
	border-radius: 5px;
	background: #294177;
	min-height: 400px;
	float: left;
	margin-bottom: 20px;
}
#search-data {
	position: relative;
	width: 100%;
	margin: 10px auto;
	height: 200px;
	top: 10px;
}
#search-position {
	height: 34px;
	border-color: #4f609f;
	background-color: #4f609f;
}
.search-position {
	width: 90%;
	margin: 0px auto;
}
#menu {
	position: relative;;
	margin:10px auto;
	width: 200px;
	border-radius: 3px;
	/*background: #003;*/
}

#main {
	position: relative;
	top: 10px;
	left: 20px;
	width: 1020px;
	height: auto;
	margin: 0 auto;
	min-height: 500px;
	margin-bottom: 20px;
	float: left;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1280px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #333;
}

/* header */
.mybreadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  /*background-color: #f5f5f5;*/
  border-radius: 4px;
  line-height: 50px;
  float: right;
}
.mybreadcrumb > li {
  display: inline-block;
}
.mybreadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|\00a0";
}
.mylogo {
  height:49px;
  width: 50px;
  background-image: url('images/logo.png');
  float: left;
}
.mynav {
  height: 50px;
  margin-top: 30px;
}

/* menu */
.menu {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

.menu_child {
	font-size: 20px;
	padding-left: 10px;
}

#prev-page {
	position: relative;
	margin: 10px auto;
	width: 90%;
	height: 30px;
	font-size: 14px;
	background-color: #4f609f;
	line-height: 30px;
	vertical-align: middle;
}

#search-content {
	position: relative;
	margin: 0 auto;
	width: 90%;
	text-align: center;
	background-color: #4f609f;
	font-size: 14px;
	line-height: 20px;
}
/* menu */
#content1 {
	position: relative;
	width: 99%;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	height: 300px;

}

/* table */
