
/* layout */

html, body {
	position: relative;
    width: 100%;
	font-family: Arial,'Microsoft YaHei' !important;
	font-size: 12px;
	background-color: #4d555d;
}

.background-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 110px;
    z-index: 1;
	background-color: #e1e1e1;
}

.body {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	z-index: 2;
}


#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 100px;
	min-width: 1200px;
}

#middle {
	position: absolute;
	top: 100px;
	left: 0;
	width: 1280px;
	height: auto;
	border-radius: 5px;
	background: #5b7996;
	/*修改#294158*/

}
#sidebar {
	position: relative;;
	top: 10px;
	left: 10px;
	width: 230px;
	border-radius: 5px;
	background: #294158;
	/*修改#294177*/
	min-height: 200px;
	float: left;
	margin-bottom: 20px;
}

#menu {
	position: relative;
	margin: 5px auto;
	margin-top: 10px;
	width: 200px;
	border-radius: 3px;
	/*background: #003;*/
}

#main {
	position: relative;
	top: 5px;
	left: 20px;
	width: 1020px;
	height: auto;
	margin: 0 auto;
	min-height: 500px;
	margin-bottom: 20px;
	float: left;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding-top: 100px;
	text-align: center;
	color: #fff;
	z-index: -1;
}

/* header */
.mybreadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  /*background-color: #f5f5f5;*/
  border-radius: 4px;
  line-height: 50px;
  float: right;
}
.mybreadcrumb > li {
  display: inline-block;
}
.mybreadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|\00a0";
}
.mylogo {
  height:49px;
  width: 50px;
  background-image: url('images/logo.png');
  float: left;
}
.mynav {
  height: 50px;
  margin-top: 30px;
}

/* menu */
.menu {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

.menu_child {
	font-size: 20px;
	padding-left: 10px;
}


/* menu */
#content1 {
	position: relative;
	width: 99%;
	margin: 5px;
	padding: 5px;
	background-color: #294158;
	height: 300px;

}

/* tips */
.tips {
	position: absolute;
	display: inline-block;
	max-width: 500px;
	padding: 10px;
	background: #ff7;
	border: 2px solid #c00;
	border-radius: 5px;
	font-family: Microsoft Yahei;
	color: #c00;
	font-size: 15px;
	z-index: 999999;
}
/* navbar */
.navbar {
    background-color: #4d555d !important;
    border-color: #4d555d !important;
    margin:10px 5px 10px 5px;
}
.container {
    width: 1000px;
    color: #fff;
}
input.base_data {
    float: right !important;
    margin-top: 10px;
    color: #333;
    border-radius: 5px;
}
.row {
    line-height: 45px;
    vertical-align: middle;
}
.inner-separator {
	margin: 0;
	border:1px dashed #5b7996;
}
td, th{
	text-align: center !important;
}
/*所有table border都为白色*/
table.dataTable.no-footer, table.dataTable thead th, table.dataTable thead td{
	border-bottom: 1px solid #fff;
}
/*所有table body都为背景蓝*/
table.dataTable tbody tr {
	background-color: #294158 !important;
	cursor: pointer;
}
/*所有table 字都为白色*/
table, .dataTables_info, .dataTables_wrapper {
	color: #fff !important;
}
/*所有table 列名都为14px*/
table.dataTable thead th, table.dataTable tfoot th {
	font-size: 14px;
}
/*所有table 选中的行都为浅蓝色*/
table.dataTable tbody tr.selected, table.dataTable tbody tr:hover {
    background-color: #5b7996 !important;
}
.ellipsis {
	color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	background-color: #5b7996 !important;
}
.dataTables_wrapper .dataTables_filter {
	color: #fff;
}
/*点的样式*/
.state {
	position: absolute;
	width: 6px;
	height: 6px;
}

.normal {
	background: green;
}

.abnormal {
	background: yellow;
}

.alerting {
	background-color: red;
}
