
#map {
	position: absolute;
	top: 20px;
	left: 150px;
	width: 500px;
	height: 300px;
	border: 1px solid #000;
}

.state {
	position: absolute;
	width: 10px;
	height: 10px;
}

.normal {
	display: block;
	background: #0c0;
}

.alert {
	display: none;
	background: #c00;
}