
.checkbox-area {
	position: absolute;
	top: 20px;
	left: 10px;
	width: 130px;
	height: 300px;
	border: 1px solid #000;
}

.checkbox-area label {
	float: left;
	width: 130px;
	height: 30px;
	text-align: center;
}

#floor-select {
	margin-left: 40px;
}

.map {
	position: absolute;
	top: 20px;
	left: 150px;
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	background-size: cover;
}

.untreated-alarm {
	position: absolute;
	top: 20px;
	left: 660px;
	width: 130px;
	height: 150px;
	overflow: auto;
	border: 1px solid #000;
}

.patrol {
	position: absolute;
	top: 180px;
	left: 660px;
	width: 130px;
	height: 140px;
	overflow: auto;
	border: 1px solid #000;
}

.state {
	position: absolute;
	width: 10px;
	height: 10px;
}

.normal {
	background: #0c0;
}

.abnormal {
	background: #ff0;
}

.alerting {
	background: #c00;
}
