#middle {
	background-color: #4d555d;
}
.checkbox-area {
	position: absolute;
	top: 20px;
	left: 10px;
	width: 130px;
	height: 728px;
	color: #fff;
	font-size: 12px;
	background: #4d555d;
	border-right: 2px solid #5b7996;
	padding-right: 10px;
}

.checkbox-area #checkbox-title {
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #5b7996;
	text-align: center;
	font-size: 16px;
}

.checkbox-area p {
	margin: 5px 0 0 20px;
}

.checkbox-area label {
	position: relative;
	top: -2.5px;
	left: 5px;
}

#checkbox-inspect {
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #5b7996;
}

#checkbox-equipment {
	padding: 10px 0 10px 0;
}

.checkbox-area .p-title {
	margin-bottom: 10px;
	font-size: 14px;
}

.map-outer {
	position: absolute;
	top: 68px;
	left: 140px;
}

.map, #spritespin {
	position: relative;
	margin: 0 auto;
	width: 680px;
	height: 680px;
	background-size: cover;
}

.safe-title {
	position: absolute;
	top: 20px;
	left: 140px;
	width: 680px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	color: #5bc2d0;
	z-index: 100;
}

.right-area {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 155px;
	height: 728px;
	color: #fff;
	font-size: 12px;
	background: #4d555d;
}

.untreated-alarm-title, .patrol-title, .floor-title {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	background: #424e54;
}

.untreated-alarm {
	height: 200px;
	overflow: auto;
	border-bottom: 2px solid #5b7996;
	padding: 10px 3px 10px 3px;
}

.untreated-alarm a {
	font-size: 12px;
	color: #5bc2d0;
}

.patrol {
	height: 130px;
	border-bottom: 2px solid #5b7996;
	padding: 10px 3px 10px 3px;
}

#floor-select {
	margin: 20px 0 0 20px;
	width: 115px;
	height: 268px;
	color: #fff;
	background: #4d555d;
	border: 2px solid #5b7996;
	overflow: auto;
	text-align: center;
	cursor: pointer;
}

#floor-select option {
	height: 30px;
	font-size: 15px;
	padding-top: 5px;
}

.state {
	position: absolute;
	width: 10px;
	height: 10px;
}

.normal {
	background: #0c0;
}

.abnormal {
	background: #ff0;
}

.alerting {
	background: #c00;
}
#next {
    position: absolute;
    bottom: 80px;
    right:60px;
    z-index:100;
    width: 33px;
    height: 47px;
    background-image: url('images/scroll.png');
}
#next:hover {
    background-image: url('images/scroll_hover.png');
}
.btn-right {
	float: right;
	margin: 5px;
}
#safe-title{
	position: relative;
}
