#userInfo, #warningInfo, #equipStateInfo, #checkInfo {
    position: relative;
    width: 99%;
    margin: 5px 5px 15px 5px;
    padding: 5px 5px 10px 5px;
    background-color: #294158;
    height: auto;
    border-radius: 5px;
}
#headshot {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.panel-primary > .panel-heading {
    background-color: #294158;
    border-color: #294158;
}
