#userInfo, #warningInfo, #equipStateInfo, #checkInfo {
    position: relative;
    width: 99%;
    margin: 5px 5px 15px 5px;
    padding: 5px 5px 10px 5px;
    background-color: #294158;
    height: auto;
    border-radius: 5px;
}
#headshot {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.panel-primary > .panel-heading {
    background-color: #294158;
    border-color: #294158;
}
.userInfo {
    background: url('images/userInfo.png') no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 150px;
    height: 40px;
    margin: auto;
    cursor: default;
}

.warningInfo {
    background: url('images/warningInfo.png') no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 150px;
    height: 40px;
    margin: auto;
    cursor: default;
}
.equipStateInfo {
    background: url('images/equipStateInfo.png') no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 150px;
    height: 40px;
    margin: auto;
    cursor: default;
}
.checkInfo {
    background: url('images/checkInfo.png') no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 150px;
    height: 40px;
    margin: auto;
    cursor: default;
}
.navbar {
    min-height: 40px;
    height: 40px;
}
#building-content {
    background-color: #e1e1e1;
}
#warningTable_info, #equipStateTable_info{
    color: #fff;
}
