#patrolState {
    background-color: #294158;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #fff;
}
#patrolStateTable_filter input[type="search"] {
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 25px;
}
