<div class="mynav">
    <div class="col-md-2">
        <div class="logo"></div>
    </div>
    <div class="col-md-10">
        <ol class="mybreadcrumb">
          <li><a class="header-link" href="#"><img src="css/images/home.png" class="icon"/><label>首页</label></a></li>
          <li><a class="header-link" href="#"><img src="css/images/message.png" class="icon"/><label>消息</label></a></li>
          <li><a class="header-link" href="#"><img src="css/images/setting.png" class="icon"/><label>设置</label></a></li>
          <li><a class="header-link" href="#"><img src="css/images/help.png" class="icon"/><label>帮助</label></a></li>
          <li><a class="header-link" id="name" href="#"><img src="css/images/account.png" class="icon"/><label>用户名</label></a></li>
        </ol>
    </div>
    <div id="management"><a href="management.html"><button class="btn btn-manament" type="button">管理控制台</button></a></div>
    <div id="monitor"><button class="btn btn-monitor" type="button">全屏监控</button></a></div>
</div>
<!-- <script src="../js/header.js"></script> -->
