<div class="mynav">
    <div class="col-md-4">
        <div class="logo"></div>
    </div>
    <div class="col-md-8">
        <ol class="mybreadcrumb">
          <li><a href="#">首页</a></li>
          <li><a href="#">消息</a></li>
          <li><a href="#">设置</a></li>
          <li><a href="#">帮助</a></li>
          <li><a id="name" href="#">用户名</a></li>
        </ol>
    </div>
    <div id="management"><button class="btn btn-manament" type="button">管理控制台</button></div>
    <div id="monitor"><button class="btn btn-monitor" type="button">全屏监控</button></div>
</div>
<!-- <script src="../js/header.js"></script> -->
