<link rel="stylesheet" href="../css/foundation.css" />
<link rel="stylesheet" href="../css/mtree.css" />
<script src='../js/vendor/jquery.velocity.min.js'></script>
<div>
  <div class="">
    <!-- This is mtree list -->
    <ul class="mtree bubba transit">
      <li><a href="#">基础数据</a>
        <ul>
          <li><a href="#">基本信息</a></li>
          <li><a href="#">用电设施</a></li>
          <li><a href="#">设备信息</a></li>
          <li><a href="#">人员名单</a></li>
          <li><a href="#">大楼实景</a></li>
          <li><a href="#">楼层图纸</a></li>
        </ul>
      </li>
      <li><a href="#">电子巡检</a>
        <ul>
          <li><a href="#">巡检状态</a></li>
       </ul>
      </li>
      <li><a href="#">智能告警</a>
        <ul>
          <li><a href="#">告警总览</a></li>
          <li><a href="#">告警处理</a></li>
          <li><a href="#">告警历史查询</a></li>
       </ul>
      </li>
    </ul>
  </div>
</div>
