<link rel="stylesheet" href="../css/foundation.css" />
<link rel="stylesheet" href="../css/mtree.css" />
<script src='../js/vendor/jquery.velocity.min.js'></script>
<div>
  <div class="">
    <!-- This is mtree list -->
    <ul class="mtree bubba transit">
      <li><a href="#">Africa</a>
        <ul>
          <li><a href="#">Algeria</a></li>
          <li><a href="#">Marocco</a></li>
          <li><a href="#">Libya</a></li>
          <li><a href="#">Somalia</a></li>
          <li><a href="#">Kenya</a></li>
          <li><a href="#">Mauritania</a></li>
          <li><a href="#">South Africa</a></li>
        </ul>
      </li>
      <li><a href="#">Asia</a>
        <ul>
          <li><a href="#">China</a></li>
          <li><a href="#">India</a></li>
          <li><a href="#">Malaysia</a></li>
          <li><a href="#">Thailand</a></li>
          <li><a href="#">Vietnam</a></li>
          <li><a href="#">Singapore</a></li>
          <li><a href="#">Indonesia</a></li>
          <li><a href="#">Mongolia</a></li>
       </ul>
      </li>
      <li><a href="#">Asia</a>
        <ul>
          <li><a href="#">China</a></li>
          <li><a href="#">India</a></li>
          <li><a href="#">Malaysia</a></li>
          <li><a href="#">Thailand</a></li>
          <li><a href="#">Vietnam</a></li>
          <li><a href="#">Singapore</a></li>
          <li><a href="#">Indonesia</a></li>
          <li><a href="#">Mongolia</a></li>
       </ul>
      </li>
    </ul>
  </div>
</div>
