<div>
  <div class="">
    <!-- This is mtree list -->
    <ul class="mtree bubba transit">
      <li><a href="#">基础数据</a>
        <ul>
          <li><a href="baseData.html">基本信息</a></li>
          <li><a href="imgSlider.html">大楼实景</a></li>
          <li><a href="floorPic.html">楼层图纸</a></li>
        </ul>
      </li>
      <li><a href="#">电子巡检</a>
        <ul>
          <li><a href="patrolState.html">巡检状态</a></li>
       </ul>
      </li>
      <li><a href="#">智能告警</a>
        <ul>
          <li><a href="alarmHistory.html">告警历史查询</a></li>
          <li><a href="unfinishedAlarm.html">未告警处理</a></li>
       </ul>
      </li>
    </ul>
  </div>
</div>
