<style>
#search-position {
    height: 34px;
    border-color: #4d555d;
    background-color: #4d555d;
    left: 0;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius::; 5px;
}
.search-position {
    width: 90%;
    margin: 0px auto;
}
.search-btn {
    height: 34px;
    width: 70px;
    background-image: url('./css/images/search_icon.png');
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#prev-page {
	position: relative;
	margin: 5px auto;
	width: 90%;
	height: 34px;
	font-size: 14px;
	background-color: #4d555d;
	line-height: 30px;
	vertical-align: middle;
	text-align: left;
	border-radius: 5px;
    padding-left: 10px;
}
#prev-page > a {
	color: #44d0bb;
}

#search-content {
	position: relative;
	margin: 0 auto;
	width: 90%;
	text-align: left;
	background-color: #4d555d;
	/*修改#4f609f*/
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	border-radius: 5px;
    padding-top: 1px;
    padding-left: 5px;
}
#search-data {
	position: relative;
	width: 100%;
	margin: 5px auto;
	height: auto;
	top: 10px;
}
.buildingName {
    font-size: 14px;
}
.buildingContent {
    height: 30px;
    /*float: left;*/
}
</style>

<div class="search-position input-group">
    <input type="text" id="search-position" class="form-control" />
    <span class="input-group-btn">
        <div class="search-btn"></div>
    </span>
</div>
<div id="prev-page">
    <a href="#"><- 返回搜索页</a>
</div>
<div id="search-content">
</div>
